<div class="form-container">
  <h2>Connexion</h2>

  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

    <label for="email">Email :</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="email"
      required
      email
    />

    @if (loginForm.submitted && !email) {
      <div style="color:red;">
        L'email est requis.
      </div>
    }

    <br />

    <label for="mdp">Mot de passe :</label>
    <input
      type="password"
      id="mdp"
      name="mdp"
      [(ngModel)]="mdp"
      required
    />

    @if (loginForm.submitted && !mdp) {
      <div style="color:red;">
        Le mot de passe est requis.
      </div>
    }

    <br />

    <div class="button-group">
      <button class="button" type="submit">Se connecter</button>
      <div class="inscription-container">
        <p>Vous n'avez pas encore de compte ?</p>
        <a class="button inscription-button" routerLink="/register">Inscrivez-vous !</a>
      </div>
    </div>

  </form>

  @if (message) {
    <div [style.color]="messageColor" style="margin-top:10px;">
      {{ message }}
    </div>
  }
</div>
