:host {
  display: block;
  width: 100%;
  margin-top: 40px;
}

.footer {
  width: calc(100% + 24px);
  margin-left: -12px;

  background-color: #2C3E50;
  color: #F1C40F;

  padding: 15px 0;

  text-align: center;

  border-top: 1px solid #e6ebf6;
  box-sizing: border-box;
}

.footer p {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;

  margin: 0;
}

.footer span {
  padding: 0 15px;
}

.footer i {
  margin-right: 2px;
  color: #F1C40F;
  vertical-align: middle;
}

